:root {
   --mc : #9e2428;
   --sc : #fff;
   --fc : #333;
}

.Wrap {
    width: 1900px;
    margin: 0 auto;
}

/* 공통 */
.container {
    width: 1120px;
    margin: 0 auto;
    text-align: center;
}

/* Header */
.Header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 70px;
    z-index: 1;
}

.Header .Inner {
    display: flex;
    min-width: 1120px;
    margin: 0 auto;
    padding: 0 80px;
    justify-content: space-between;

    font-size: 15px;
    font-weight: 400;
    color: var(--sc);
}

.Header .Inner .HeaderLogo a {
    display: block;
    height: 100%;
    padding: 17px 0;
    font-size: 0;
    box-sizing: border-box;
}


.Header .logo_img {
    width: 257px;
    height: 100%;
    background: url(../img/header_logo.png) 0 0 no-repeat;
}

.Header .Gnb>ul{
    display: flex;
    gap: 46px;
}

.Header .CallBox {
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    /* background: var(--mc); */
}

.Header .CallBox a {
    padding: 5px 15px;
    border: 2px solid var(--sc);
    border-radius: 20px;
}

.Header .CallBox i {
    font-size: 13px;
    color: var(--sc);
}



/* Header on */
.Header.on {
    /* color: var(--fc); */
    background: var(--sc);
    border-bottom: 1px solid var(--mc);
    transition: 0.5s;
}

.Header.on .logo_img {
    width: 257px;
    height: 100%;
    background: url(../img/header_logo_on.png) 0 0 no-repeat;
}

.Header.on .Gnb {
    color: var(--fc);
}

.Header.on .CallBox a{
    font-weight: 500;
    color: var(--sc);
    border: 2px solid var(--mc);
    background: var(--mc);
}

.Header.on .CallBox i {
    font-size: 13px;
    color: var(--sc); 
}

/* Header on END */





/* section01_Intro */
.Intro {
    position: relative;
    width: 100%;
    background: url(../img/intro_bg.png)no-repeat center center/cover;
}

.Intro .IntroTop {
    padding: 100px 80px 40px;
}

.Intro .IntroTop figure{
    margin-bottom: 25px;
}

.Intro h2 {
    font-size: 24px;
}

.Intro .IntroBottom {
    padding-bottom: 100px;
}

.Intro .IntroBottom .Custom_dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    width: 900px;
    height: 3px;
    margin-top: 80px;
    transform: translateX(-50%);
    background: #ddd;
    font-size: 0;
}

.Intro .Custom_dots li {
    position: relative;
    flex: 1;
}

.Intro .Custom_dots li.on::before {
    width: 100%;
    transition: 2s;
}

.Intro .slideNum {
    position: absolute;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-size: 41px;
}


/* section02_Market  */
.Market .MarketTop { padding: 100px 80px 60px; }
.MarketTop figure { margin-bottom: 25px; }
.MarketTop h2 { font-size: 27px; margin-bottom: 16px; }
.MarketTop p { font-size:  16px;}

.Market  .MarketBottom {
    display: flex;
    margin-bottom: 40px;
}

.MarketBottom .MarketBox:nth-child(1){
    background: url(../img/market_bg01.jpg)no-repeat center center;
    width: 555px;
    height: 546px;
    margin-right: 10px;
}

.MarketBottom .MarketTxt h3 {
    padding: 380px 0 20px 0;
    font-size: 27px;
    font-weight: 500;
    color: var(--mc);
}

.MarketBottom .MarketTxt p {
    font-size: 15px;
    font-weight: 400;
    color: var(--fc);
    line-height: 22px
}


.MarketBottom .MarketBox:nth-child(2) {
    background: url(../img/market_bg02.jpg)no-repeat center center;
    width: 555px;
    height: 546px;
}

/*  section03_Menu */
.Menu {
    /* position: relative; */
    background: url(../img/menu_bg.jpg) no-repeat center 0;
    background-size: cover;
}

.Menu .MenuTop { padding: 100px 80px 60px; }
.Menu .MenuTop figure { margin-bottom: 25px; }
.Menu .MenuTop h2 { font-size: 27px; margin-bottom: 16px; }
.Menu .MenuTop p { font-size:  16px;}

.Menu .container .MenuBottom {
    display: flex;
    gap: 50px;
    justify-content: center;
}



/* section04_MenuWrap */
.MenuWrap {
    background: url(../img/menu_bg.jpg) no-repeat center bottom;
    background-size: cover;
}

.MenuWrap .MWTop {
    padding: 100px 80px 60px;
}


/* Footer */
.Footer { padding: 50px 0; background: var(--fc);}
.Footer .container { display: flex; color: var(--sc); justify-content:space-between; }

.Footer .Ftlogo {
    width: 200px;
}

.Footer .Address { width: 700px; text-align: left; }
.Footer .Privacy a { display: inline-block; }
.Footer .Address .Privacy {
    font-size: 15px;
    font-weight: 500;
    color: #f00;
    margin-bottom: 30px;
}

.Footer .Addr {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;
}

.Footer .Addr ul>li{
    display: inline-block;
}

.Footer .Addr ul>li~li::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 10px;
    background: #ddd;
    margin: 0 10px;
}

.Footer .FamilySite {
    width: 140px;
}

#goto_familiy_site {
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 25px;
    border: 1px solid var(--sc);
    color: var(--sc);
    background: var(--mc);
}
