@charset "utf-8";

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* @font-face
  {font-family:'SanHg';
	src:url("../font/SanHgL.woff") format("woff");font-weight:300;font-style:normal;}

@font-face{font-family:'SanHg';
	src:url("../font/SanHgM.woff") format("woff");font-weight:500;font-style:normal;}

@font-face{font-family:'SanHg';
	src:url("../font/SanHgB.woff") format("woff");font-weight:700;font-style:normal;}

@font-face{font-family:'NotoSansKR';
  src:url("../font/NotoSans-Light.woff") format("woff");font-weight:200;font-style:normal;}

@font-face{font-family:'NotoSansKR';
  src:url("../font/NotoSans-DemiLight.woff") format("woff");font-weight:300;font-style:normal;}

@font-face{font-family:'NotoSansKR';
  src:url("../font/NotoSans-Regular.woff") format("woff");font-weight:400;font-style:normal;}

@font-face{font-family:'NotoSansKR';
  src:url("../font/NotoSans-Medium.woff") format("woff");font-weight:500;font-style:normal;}

@font-face{font-family:'NotoSansKR';
  src:url("../font/NotoSans-Bold.woff") format("woff");font-weight:700;font-style:normal;} */
--------------------------------------

/*
-------------------------------------
reset
--------------------------------------
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR";
  font-weight: normal;
  color: #333333;
  line-height: 1;
}

ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
  font-size: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

select,
input,
textarea,
button {
  font-size: inherit;
  font-family: "Noto Sans KR";
  font-weight: inherit;
  margin: 0;
}

select,
input,
button {
  vertical-align: middle;
}

b,
strong {
  font-weight: normal;
}

address,
em,
i {
  font-style: normal;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
}

header,
footer,
article,
section,
aside,
nav,
main {
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* screen reader only */
.sr-only,
.hidden,
.blind,
.IR {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Skip to content */
.skip-to {
  position: absolute;
  top: -99px;
  left: 0;
  background: #333;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  z-index: 999;
}

.skip-to:hover,
.skip-to:focus,
.skip-to:active {
  display: block;
  top: 0;
}

.row:after,
.row:before {
  content: "";
  display: block;
}

.row:after {
  clear: both;
}
